.general-stats {
  width: 100%;
  margin-left: 0.5%;
}

.user-stats {
  height: fit-content;
}

.scholars-breakdown {
  li {
    list-style: none;
  }
}

.non-stuck {
  z-index: 0;
  width: 100%;
}

.users-grid {
  width: 90%;
  gap: 0px;
}
