.btn-submit {
    color: #fff;
    background-color: #21B6A8;
    border: none;
    border-radius: 200px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    transition: transform 1s;
}

.btn-submit:hover {
    color: #fff;
    background-color: #21B6A8;
    border: none;
    border-radius: 150px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    transform: scale(1.01);
}


.submit input {
  color: #fff;
  background-color: #21B6A8;
  border: none;
  border-radius: 150px;
  transition: transform 0.1s;
  height: 75% !important;
  margin-left: 2%;
  padding-right: 15px;
  padding-left: 15px;
 }

.submit:hover input {
  transform: scale(1.01);
}

.card-button {

  form {

    height: 100%;

    input {

      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-top: none;
      color: #21B6A8;
      background-color: transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

    }
  }

  form.add {

    input {

      width: 100%;
      height: 100%;
      border: solid;
      border-color: #21B6A8 !important;
      color: #fff !important;
      background-color: #21B6A8 !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

    }
  }
}



.team-delete-button {

  margin: auto;
  margin-left: 5px;

  input {
    color: #fff;
    background-color: rgb(240, 99, 99);
    border: none;
    border-radius: 150px;
    padding: 0%;
    padding-right: 15px;
    padding-left: 15px;
    transition: transform 1s;
    height: 24px !important;
  }
}

.team-delete-button:hover input {
  transform: scale(1.01);
}

input.visible-input-index {
  height: 60%;
}

.submit-button-index {
  input {
      width: 100%;
      height: 60%;
      border: solid;
      border-color: #21B6A8;
      color: #fff;
      background-color: #21B6A8;
      border-radius: 150px;
      bottom: 0px;
      margin-top: 40%;

  }
}
