.form-input {
  input.visible-input {
    width: 20vw;
    margin-right: 0.5vw;
    justify-content: center;
    height: 100%;
    border-radius: 150px;
  }
}

.visible-input-2 {
    width: 9vw;
    margin-right: 0.5vw;
    justify-content: center;
    height: 100%;
    border-radius: 150px;

}
