.form-input {
  input.visible-input {
    width: 20vw;
    margin-right: 0.5vw;
    justify-content: center;
    height: 100%;
    border-radius: 150px;
  }
}

.visible-input-2 {
    width: 9vw;
    margin-right: 0.5vw;
    justify-content: center;
    height: 100%;
    border-radius: 150px;

}

.form-input {
  input.visible-input-update {
    width: 100%;
    margin-right: 0.5%;
    justify-content: center;
    height: 75%;
    border-radius: 150px;
  }
}

.form-input {
  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #CED4DA;
  }
}

.form-input {
  input.visible-input-search {
    width: 50%;
    margin-right: 0.5%;
    justify-content: center;
    height: 75%;
    border-radius: 150px;
    border: solid;
    border-color: #CED4DA;
    border-width: 0.05px;
    padding-left: 20px;
  }
}
