.row {
  height: 10vh;
  margin-bottom: 1vh;
  border-style: solid;
  border-color: #21B6A8;
  border-radius: 150px;
  border-width: 0.05ch;
  background-color: #ececec;
}

.table-input {
  width: 14.28%;
}

.row-headers {
  height: 5vh;
  margin-bottom: 2vh;

}

.table-input-2 {
  width: 14.28%;
  border-style: solid;
  border-color: #21B6A8;
  border-top: none;
  border-right: none;
  border-left: none;
}
