.row {
  height: 7%;
  margin-bottom: 2px;
  border-style: solid;
  border-color: #21B6A8;
  border-radius: 5px;
  border-width: 0.05ch;
  background-color: rgb(255, 248, 248);
}

.table-input {
  width: 14.28%;
}

.row-headers {
  height: 8%;
  margin-bottom: 1.5%;

}

.table-input-2 {
  width: 14.28%;
  border-style: solid;
  border-color: #21B6A8;
  border-top: none;
  border-right: none;
  border-left: none;
}

.scholars-breakdown {
  li {
    position: relative;
    left: -20px;
}
}

.edit-address img{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.table-of-contents {
  ul {
    padding-left: 2.5rem !important;
  }
}
